/* 
    Author     : vilmaparkkila
*/

.root {
     -fx-background-image: url("background.png");
}
.page {
     -fx-background-image: url("background.png");
}

#createPackageButton, #addToMapButton, #sendPackageButton, #removePathsButton, #refreshPackagesButton, #refreshLogButton {
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#8C8C8C, #2B2B2B);
}
#smartPostComboBox, #packageComboBox {
    -fx-font-family: "Arial";
    -fx-background-color: linear-gradient(#CFCFCF, #ADADAD);
}
#cancelButton, #createButton, #infoButton {
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#8C8C8C, #2B2B2B);
}
#fromCity, #toCity, #fromPostOffice, #toPostOffice, #itemsComboBox {
    -fx-font-family: "Arial";
    -fx-background-color: linear-gradient(#CFCFCF, #ADADAD);
}